.deps
.dirstamp
.libs
*~
*.o
*.lo
*.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
m4/
/intltool-extract.in
/intltool-update.in
/m4/
/depcomp
/config.sub
/missing
/config.status
/ltmain.sh
/config.log
/libtool
/configure
/intltool-merge.in
/install-sh
/configure.scan
/autoscan.log
/nbproject/private
/po/Makefile.in.in
/po/stamp-it
/po/POTFILES
/src/stamp-h1
/src/config.h
/src/config.h.in
/build-aux/
